---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div>
		<h1>ASIA ASSISTANT</h1>
		<p>Tu asistente de marketing inteligente: tecnologia que complementa tu talento</p>
		<button>Crear mi asistente</button>
	</div>
</Layout>

